@media screen and (min-width: 480px) {
    .container {
      width: 426px;
      margin-left: auto;
      margin-right: auto;
    }
    .section {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  
    .team-section > .container {
      max-width: 290px;
    }

.ftr-head {
  justify-content: center; 
}
    .third-header {
      display: flex;
      justify-content: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      color: #2e2f42;
    }

    .customers-list{
        gap: 72px 16px;
    }
  }

  @media screen and (max-width:767px){
    .modal{
      width: 95%;
      max-width: 392px;
      height: 95%;
      max-height: 586px;
      overflow: scroll;
    }

    .logo{
      margin-right: auto;
      margin-left: auto;
    }

    .subscribe-form{
      display: block;
      justify-content: center;
      align-items: center;
    }
    
  }