:root {
  --prime-color-font: #2e2f42;
  --color-hover: #404bbf;
  --ptimary-brand: #4d5ae5;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8a8f99;
  --light: #f4f4fd;
  --white-text-color: #ffffff;
  --border-color: #e7e9fc;

  --main-font: "Roboto", sans-serif;
  --secondary_font: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--prime-color-font);
  background-color: var(--white-text-color);
  color: var(--text);
  font-size: 16px;
  letter-spacing: 0.02em;
}

.container {
  /* /* width: 1158px; */
  width: 100%;
   padding-left: 15px;
  padding-right: 15px;
}

/* ================Header ================*/
.page-header {
  padding-top: 23px;
  padding-bottom: 23px;
  border: 1px solid var(--border-color);
}

.page-header-container {
  display: flex;
    margin-left: 0;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

address {
  margin-left: auto;
}

.menu-nav {
  display: none;
  }

.menu-adress {
  display: none;
  }

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--prime-color-font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-bottom: 28px;
}
.menu-link.current {
  color: var(--color-hover);
}

.menu-link-active {
  color: var(--color-hover);
}

.menu-link::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  pointer-events: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:not(.menu-link-active)::after {
  background-color: transparent;
}

.menu-link:not(.menu-link-active):hover::after,
.menu-link:not(.menu-link-active):focus::after {
  background-color: var(--color-hover);
}

.addres-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--prime-color-font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.span-web {
  color: #4d5ae5;
}

.span-studio {
  color: var(--prime-color-font);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--color-hover);
}

.addres-link:hover,
.addres-link:focus {
  color: var(--color-hover);
}

.modal-btn {
  color: #ffffff;
  padding: 16px 32px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: "Roboto";
  font-family: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

/* =========MOB MENU */

.mob-menu-link{
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}

.mob-menu-item:not(:last-child){
  margin-bottom: 40px;
}


.mob-menu-nav{
  display: block;
  margin-top: 80px;
}

.mob-addres-link {
  display: block;
  font-weight: 600;
font-size: 22px;
line-height: 40px;
text-transform: capitalize;
color: var(--prime-color-font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 40px;
}

  .mob-addres-link-tel{
    display: block;
  font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 48px;
  }

  .mob-menu-adress{
display:flex;
flex-direction: column;
gap: 40px;
  }

    .mob-cont-second{
    margin-top: auto;
  }

  /* .menu-open{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
      z-index: 1;
  }

  .menu-open .icon-menu{
    display: none;
  }

  .menu-open.is-open .icon-menu {
    display: block;
  }

  .menu-open.is-open .icon-cross{
    display: none;
  } */

  .mobile-menu-open-icon{
  stroke: #2E2F42;
}
.mobile-menu-open{
  padding: 0;
}

.page-header{
  position: relative;
}
.mobile-menu{
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background-color: #ffffff;
  padding: 25px;
    font-size: 36px;
  z-index: 10;
  margin-left: auto;
      margin-right: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }

    .mobile-menu.is-open{
      opacity: 1;
    visibility: visible;
    pointer-events: auto;
    }
    
    .mobile-menu > .container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
    }

   .mobile-menu.is-open{
    display: block;
   }

   .mobile-menu-close{
    position: absolute;
    top: 0;
    right: 0;
    background-color:transparent;
    border: none;
    padding: 0;
    line-height: 0;
   }

   .mobile-menu-cont{
    position: relative;
   }
/* ================HERO ================ */

.main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 72px;
    margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobx1.jpg);
  background-size: cover;
  background-color: #2e2f42;
  max-width: 1440px;
  height: 432px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/hero-mobx2.jpg);
  }
}

/* ================ABOUT US============= */

.third-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--prime-color-font);
  margin-bottom: 8px;
}

.about-container:not(:last-child) {
  margin-right: 24px;
}
.about-discr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.about-us-list {
  display: flex;
  gap: 72px 24px;
  flex-wrap: wrap;
}

.about-list {
  width: 100%;
}

.icon-container {
  display: none;
}
/* ================What we doing========= */
.doing-setion{
  display: none;
}

/* ================Our Team======= */

.team-section {
  padding-top: 96px;
  padding-bottom: 128px;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--prime-color-font);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 72px;
}

.name-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--prime-color-font);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
}
.card-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-card {
  /* flex-basis: calc((100% - 72px) / 4); */
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.dscr-prof {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 8px;
}

.bg-color-section {
  background-color: #f4f4fd;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-link-icon {
  fill: #f4f4fd;
}

/* ===========CUSTOMERS */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  
}

.cust-header {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 88px;
  fill: currentColor;
  color: #8e8f99;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
}

.third-header {
  justify-content: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
    justify-content: center;
}

/* ===============Footr============ */
.footer-dcr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
  width: 264px;
  margin: 0 auto;
}

.st-ftr-container{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
  }

.footer-color {
  background-color: var(--prime-color-font);
  padding-top: 100px;
  padding-bottom: 100px;

}

.media-container {
  /* margin-left: 120px; */
  margin-bottom: 72px;
}

.span-white {
  color: #f4f4fd;
}

.ftr-head {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-list-ftr {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-list-link-ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-ftr:hover,
.social-list-link-ftr:focus {
  background-color: #31d0aa;
}

.sbc-btn {
  color: #ffffff;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: "Roboto";
  font-family: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.sbc-btn:hover,
.sbc-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.sbc-input {
    background-color: transparent;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding-left: 16px;
  outline: none;
  margin-right: 24px;
   margin-left: auto;
 margin: 0;
}

.sbc-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sbc-dscr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.icon-send {
  fill: #ffffff;
  margin-left: 16px;
}

.scb-container {
  display: block;
  justify-content: center;
  align-items: center;
}

/* ================Portfolio ================ */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.buttom-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.modal-btn-portfolio {
  padding: 12px 24px;
  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto";
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  border: 1px solid #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.portfolion-list {
  display: block;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 48px;
 }

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  background-color: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(4.png);
    margin-bottom: 48px;
}

.third-header-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--prime-color-font);
  margin-bottom: 8px;
}

.main-section {
  padding-top: 48px;
  padding-bottom: 120px;
}

.portfolio-card-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.card-border {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.link-portfolion {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolion:hover,
.link-portfolion:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  padding-left: 32px;
  padding-top: 40px;
  padding-right: 32px;
  background-color: #4d5ae5;
}

.link-portfolion:hover .overlay,
.link-portfolion:focus .overlay {
  transform: translate(0, 0);
}

/* ===============MODAL WINDOW======= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding-top: 96px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 114px;
  overflow-y: scroll;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid var(--border-color);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
}
.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #ffffff;
}

/* ============FORM=========== */

.contact-form-btn-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.contact-form-btn {
  color: #ffffff;
  padding: 16px 32px;
  width: 170px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: "Roboto";
  font-family: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: #404bbf;
}

.form-dscr {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  padding: 0;
  border: none;
  margin-bottom: 16px;
}

.contact-form-fieldset {
  margin-bottom: 24px;
}

.contact-form-msg {
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 8px;
  padding-left: 16px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-dscr {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.04em;
  color: #757575;
  padding-left: 8px;
}

.form-input-dscr {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.contact-form-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.input-wrapper {
  display: block;
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-msg:focus {
  outline: none;
  border-color: #4d5ae5;
}

.contact-form-msg::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-dscr::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.contact-form-checkbox:checked + .contact-form-dscr::before {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/ok.svg);
  background-color: #404bbf;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contact-form-checkbox:focus + .contact-form-dscr::before {
  outline: 1.25px solid #404bbf;
}

.link-accept {
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-form-field {
  margin-bottom: 8px;
  display: block;
}

.text-area {
  margin: 0;
}
